<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
<link rel="stylesheet" href="/css/style.css">
 <link rel="icon" href="/img/profile.png">

    </head>
    <body>
        <div class="main-content">
                {{>header}}
                <img class="my-img" src="/img/sid.jpg">
                <p class="abbout"><strong>Web Developer & IT Student</strong> </p>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/sidharth-surya/"><img class="scl" src="/img/linkedin.png"></a>
            <a href="https://github.com/imsidharthsurya"><img class="scl" src="/img/github.png"></a>
            <a href="https://imsidharthsurya.github.io/myweb/"><img class="scl" src="/img/www.png"></a>
        </div>
              {{>footer}}
    </body>
</html>